<ion-card *ngIf="edge" (click)="presentModal()" style="cursor: pointer">
  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">


    <ion-item>
      <ion-icon name="flame"></ion-icon>
      <ion-label>
        <ion-card-title translate>Edge.Index.Widgets.HeatingElement.Title</ion-card-title>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <table class="full_width">
        <tr>
          <td style="width:50%" translate>Heiz-Leistung</td>
          <td style="width:15%"></td>
          <td style="width:45%" class="align_right">
            {{ currentPower(currentData[componentId + "/Status"]) | number:'1.0-0' }}
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ng-container>
</ion-card>



<!--
  <ngx-loading [show]="!(edge.currentData | async)"></ngx-loading>
  <ion-item *ngIf="(edge.currentData | async).channel as channel">
    <ion-icon *ngIf="channel[outputChannel.toString()] == null" name="help"></ion-icon>
    <ion-icon *ngIf="channel[outputChannel.toString()] == 1" name="radio-button-on"></ion-icon>
    <ion-icon *ngIf="channel[outputChannel.toString()] == 0" name="radio-button-off"></ion-icon>
   
    <ion-label>
      <ion-card-title>Ausgang {{ outputChannel.channelId }}</ion-card-title>
    </ion-label>
  </ion-item>
-->